/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
	height: 100%;
}
.wrapper {
	width: 100%;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 203px;
	background: #FFE680;
}
ul {
	height: 203px;
    display: inline-table;
    list-style-type: none;
    margin: auto;
    overflow: hidden;
    background-color: #ffffff;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
	z-index: 1;

}

li {
    float: left;
	text-align: center;
	display:inline;
}

li a {
    display: block;
    color: Black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #579bb2;
}

.active {
    background-color: #b2ced8;
}

/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	padding: 0 0 100px;
	position: relative;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	float: left;
}
.content {
	padding-left: 376px;
	right: 0;
	height: 100%;
	font-size: large;
	margin-right: 100px;
	z-index: 2;
}
h1 {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}
h2 {
	font-style: italic;
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin: -100px auto 0;
	width: 100%;
	height: 80px;
	background: #ffffff;
	bottom: 0;
	position: fixed;
	font-weight: bold;
	text-align: center;
}
span { font-weight: bold; }